<!DOCTYPE html>
<html>
  <head>
    <title>Personal Web</title>

    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/contact.css" />
    <link rel="stylesheet" href="assets/css/nav.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg ul-style">
      <div class="container-fluid">
        <img
          src="assets/img/girl.png"
          alt=""
          style="height: 45px; padding-right: 15px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end custom-offcanvas"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black" href="/project"
                  >Add Project</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black" href="/testimonial"
                  >Testimonials</a
                >
              </li>
            </ul>
            <a href="/contact" class="btn btn-pink">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="card biodata-container m-auto mt-3 px-3 py-3">
      <div class="row g-0">
        <div class="col-md-8 py-3">
          <div class="px-3">
            <h5 class="fs-3">Hallo, Selamat Datang</h5>
            <p class="lh-sm" style="text-align: justify">
              Saya adalah lulusan S1 tahun 2023, berdomisili di Tangerang. Saat
              ini, saya sedang menjalani pelatihan bootcamp di Dumbways untuk
              meningkatkan kemampuan saya di bidang teknologi dan pengembangan
              web. Saya memiliki minat besar dalam pengembangan software dan
              selalu berusaha untuk terus belajar dan berkembang di bidang ini.
            </p>
          </div>
          <div class="d-flex gap-3 px-3">
            <a
              href="/contact"
              class="btn-pink px-2 py-2 text-decoration-none rounded"
            >
              Contact</a
            >
            <a
              class="icon-link icon-link-hover custom-link"
              style="--bs-icon-link-transform: translate3d(0, -0.125rem, 0)"
              href="#"
            >
              Download CV
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="bi bi-download"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
                />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"
                />
              </svg>
            </a>
          </div>
          <div class="social-icon d-flex gap-2 mt-4 mb-3 px-3">
            <a href="" target="_blank" style="padding-left: 0">
              <img
                class="rounded-circle"
                src="assets/icon/linkedin.png"
                alt="LinkedIn"
              />
            </a>
            <a href="" target="_blank">
              <img
                class="rounded-circle"
                src="assets/icon/facebook.png"
                alt="FaceBook"
              />
            </a>
            <a href="" target="_blank">
              <img
                class="rounded-circle"
                src="assets/icon/instagram.png"
                alt="Instagram"
              />
            </a>
            <a href="" target="_blank">
              <img
                class="rounded-circle"
                src="assets/icon/twitter.png"
                alt="Twitter"
              />
            </a>
          </div>
        </div>
        <div class="image-container rounded col-md-4 h-100 mt-3 bg-white">
          <img
            src="assets/img/Nida Tedilla Manuar.jpg"
            class="img-fluid rounded-top mb-2"
            alt="..."
          />
          <h2 class="text-center fs-6">Nida Tedilla Manuar</h2>
          <p class="text-center" style="font-size: small">
            Fullstack Developer
          </p>
        </div>
      </div>
    </div>

    <div class="mt-3 px-4 py-4 bg-danger-subtle">
      <div class="py-2">
        <h2 class="text-center">MY PROJECT</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card mb-3 pb-3">
            <img src="https://cdn.pixabay.com/photo/2021/08/07/19/49/cosmea-6529220_640.jpg" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Project title</h5>
              <p>Durasi:</p>
              <p class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto repellat, sunt eligendi recusandae explicabo sint dolorum dolor! Reprehenderit dolorem ipsa maiores modi illum distinctio temporibus culpa labore, veritatis odit doloribus.
              </p>
            </div>
            <div class="d-flex tech-icon gap-3 ms-3">
              <img src="assets/icon/nodeJS.png" alt="">
              <img src="assets/icon/reactJS.png" alt="">
              <img src="assets/icon/nextJS.png" alt="">
              <img src="assets/icon/TS.png" alt="">
            </div>
            <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
              <button class="btn btn-pink flex-fill">Edit</button>
              <button class="btn btn-pink flex-fill">Delete</button>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card mb-3 pb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9eTcHvq6vzIeWfqIPYF6vJlvC7hyp_QUuAw&s" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Project title</h5>
              <p>Durasi:</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam earum beatae repudiandae doloribus ea distinctio placeat molestiae, delectus repellendus obcaecati facilis minima asperiores! A iusto ipsa, alias ducimus aliquid et.
              </p>
            </div>
            <div class="d-flex tech-icon gap-3 ms-3">
              <img src="assets/icon/nodeJS.png" alt="">
              <img src="assets/icon/reactJS.png" alt="">
              <img src="assets/icon/nextJS.png" alt="">
              <img src="assets/icon/TS.png" alt="">
            </div>
            <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
              <button class="btn btn-pink flex-fill">Edit</button>
              <button class="btn btn-pink flex-fill">Delete</button>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card mb-3 pb-3">
            <img src="https://png.pngtree.com/thumb_back/fw800/background/20230802/pngtree-green-sunflowers-flower-background-hd-sunflowers-wallpaper-sunflower-flower-image_12977293.jpg" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Project title</h5>
              <p>Durasi:</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident atque necessitatibus nulla error nesciunt. Cum praesentium aliquam quas a. Nulla numquam quia quibusdam ducimus aspernatur distinctio quisquam explicabo odit voluptate.
              </p>
            </div>
            <div class="d-flex tech-icon gap-3 ms-3">
              <img src="assets/icon/nodeJS.png" alt="">
              <img src="assets/icon/reactJS.png" alt="">
              <img src="assets/icon/nextJS.png" alt="">
              <img src="assets/icon/TS.png" alt="">
            </div>
            <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
              <button class="btn btn-pink flex-fill">Edit</button>
              <button class="btn btn-pink flex-fill">Delete</button>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card mb-3 pb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9D9YABR6Lyos_IhydDgdGgR-mVSaLPerdfA&s" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Project title</h5>
              <p>Durasi:</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quae sed temporibus harum. Facilis voluptatum tempora maxime distinctio quam velit, voluptatibus nemo deleniti, odio vel sit aperiam eligendi tenetur earum!
              </p>
            </div>
            <div class="d-flex tech-icon gap-3 ms-3">
              <img src="assets/icon/nodeJS.png" alt="">
              <img src="assets/icon/reactJS.png" alt="">
              <img src="assets/icon/nextJS.png" alt="">
              <img src="assets/icon/TS.png" alt="">
            </div>
            <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
              <button class="btn btn-pink flex-fill">Edit</button>
              <button class="btn btn-pink flex-fill">Delete</button>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card mb-3 pb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKIdNv7cVCZdDOGQH87dj74Dup0q65zmMTQA&s" class="card-img-top" alt="" />
            <div class="card-body">
              <h5 class="card-title">Project title</h5>
              <p>Durasi:</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, facere commodi distinctio quasi hic error necessitatibus blanditiis perspiciatis tempore accusamus, dicta omnis non quas eius expedita eos pariatur aspernatur veritatis!
              </p>
            </div>
            <div class="d-flex tech-icon gap-3 ms-3">
              <img src="assets/icon/nodeJS.png" alt="">
              <img src="assets/icon/reactJS.png" alt="">
              <img src="assets/icon/nextJS.png" alt="">
              <img src="assets/icon/TS.png" alt="">
            </div>
            <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
              <button class="btn btn-pink flex-fill">Edit</button>
              <button class="btn btn-pink flex-fill">Delete</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
