.contact-conatiner {
  background-color: #f9f5f6;
  max-width: 400px;
  box-shadow: 0px 0px 5px gray;
}

select {
  box-shadow: 0px 0px 5px gray;
}

textarea {
  box-shadow: 0px 0px 5px gray;
}

input {
  box-shadow: 0px 0px 5px gray;
}